html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eff1f2;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #222;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 40px;
}

/* HEADER START */

.header {
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bebebf;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__rates {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: 8px;
}

.header__rate {
  font-size: 16px;
  display: flex;
}

.header__rate > span {
  margin-left: 8px;
  color: #404040;
}

.header__rate.up > span {
  color: #cc3939;
}

.header__rate.down > span {
  color: #1bc47d;
}

.header__rates > .header__rate:not(:last-child) {
  margin-right: 25px;
}

.header__user {
  height: 62px;
  display: flex;
}

.header__user-avatar {
  width: 62px;
  max-width: 62px;
  min-width: 62px;
  height: 62px;
  max-height: 62px;
  min-height: 62px;
  border-radius: 50%;
  overflow: hidden;
}

.header__user-avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__user-info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.header__user-info > div {
  color: #404040;
  font-size: 16px;
}

.header__user-info > div:first-child {
  font-size: 26px;
}

.header__user-info > div:nth-child(2) {
  margin-top: -6px;
}

.header__user-info > div:nth-child(3) {
  margin-top: -5px;
}

.header__user-buttons {
  display: flex;
  flex-direction: column;
}

.header__user-buttons > .button:not(:last-child) {
  margin-bottom: 6px;
}

.header__nav {
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #bebebf;
  box-sizing: border-box;
}

.header__nav-logo {
  margin-right: 5px;
  width: 35px;
  max-width: 35px;
  min-width: 35px;
  height: 35px;
  max-height: 35px;
  min-height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.header__nav-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__holdings {
  border: 1px solid #bebebf;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.header__holdings > div {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #404040;
  margin-bottom: 4px;
}

.header__holdings > span {
  font-size: 10px;
  line-height: 14px;
  color: #404040;
  display: block;
}

/* HEADER END */

/* BUTTON START */

.button {
  padding-left: 20px;
  padding-right: 20px;
  height: 28px;
  background-color: #1bc47d;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}

.button--red {
  background-color: #cc3939;
}

.button--gold {
  background: linear-gradient(
    89.72deg,
    #e9c64e 0.05%,
    #f7e17b 37.5%,
    #f7e07a 48.42%,
    #ddb531 99.92%
  );
}

/* BUTTON END */

/* LAYOUT START */

.layout__chart {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.layout__chart-inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
}

.layout__buy {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.layout__buy-inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.layout__buy-inner > div:first-child {
  width: 360px;
}

.layout__buy-inner > div:last-child {
  width: 360px;
}

.layout__news {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.layout__news-inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.layout__news-inner > div:first-child {
  width: 430px;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  align-self: flex-start;
}

/* LAYOUT END */

/* MARKET START */

.market {
  max-width: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  align-self: flex-start;
  border-bottom: 0;
}

.market__table .table__content {
  width: 100%;
}

/* MARKET END */

/* TABS START */

.tabs {
  display: flex;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

.tabs__tab {
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  color: #404040;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.tabs--min .tabs__tab {
  height: 24px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.tabs__tab:hover {
  background-color: #bebebf;
}

.tabs > .tabs__tab:not(:last-child) {
  border-right: 1px solid #bebebf;
}

.tabs__tab--active {
  background-color: #cc3939;
  color: #fff;
}

.tabs__tab--active:hover {
  background-color: #cc3939;
}

.tabs--fluid > .tabs__tab {
  flex-grow: 1;
  justify-content: center;
}

/* TABS END */

/* TABLE START */

.table {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.table__title {
  margin-bottom: 5px;
  display: flex;
  padding-top: 12px;
  padding-left: 12px;
  box-sizing: border-box;
}

.table__title--border {
  border-bottom: 1px solid #bebebf;
}

.table__title-text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #404040;
}

.table__content {
  position: relative;
  box-sizing: border-box;
}

.table__content > table {
  width: 100%;
  border-collapse: collapse;
}

.table__content thead {
  border-bottom: 1px solid #bebebf;
}

.table__content th {
  border-top: 1px solid #bebebf;
  font-size: 16px;
}

.table__content td {
  font-weight: 300;
  font-size: 12px;
  color: #515151;
  min-height: 20px;
  text-align: center;
  border-bottom: 1px solid #bebebf;
}

.table--info .table__content td {
  color: #525252;
  border-bottom: 0;
}

.table--info .table__content th {
  font-size: 14px;
  font-weight: normal;
  border-top: none;
}

.table__content tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table--big .table__content {
  margin-top: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.table--big .table__content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.table--big .table__content::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.table--big .table__content::-webkit-scrollbar-thumb {
  background: #bebebf;
  border-radius: 50px;
}

.table--big .table__content::-webkit-scrollbar-track {
  background: #f2f2f2;
  border: 0px none #fff;
  border-radius: 50px;
}

.table--big .table__content::-webkit-scrollbar-corner {
  background: transparent;
}

.table--big th {
  font-size: 12px;
  white-space: nowrap;
  font-weight: normal;
  padding-right: 5px;
  border-top: 0;
}

.table--big tbody > tr:first-child > td {
  padding-top: 5px;
}

.table--big td {
  padding-right: 5px;
}

.table--big .table__input {
  display: flex;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}

.table--big .table__input > input {
  max-width: 58px;
}

.table__no-content {
  font-weight: 300;
  font-size: 12px;
  color: #515151;
}

.table--big .table__no-content {
  position: absolute;
  top: 60px;
  left: 60px;
}

.table--trades .table__content thead > th:nth-child(3) {
  text-align: center;
}

.table--trades .table__content thead > tr > th:nth-child(4) {
  text-align: center;
}

.table--trades .table__content tbody > tr > td:last-child {
  text-align: center;
}

/* TABLE END */

/* CHART START */

.chart {
  max-width: 700px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #bebebf;
  box-sizing: border-box;
}

.chart__title {
  display: flex;
  align-items: center;
}

.chart__title-img {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart__title-text {
  font-size: 24px;
}

.chart__title > .tabs {
  margin-left: auto;
}

.chart__rates {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 16px;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

.chart__rate {
  display: flex;
  font-size: 18px;
  line-height: 25px;
  color: #515151;
}

.chart__rate > span {
  margin-left: 8px;
}

.chart__rate.up > span {
  color: #cc3939;
}

.chart__rate.down > span {
  color: #1bc47d;
}

.chart__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* CHART END */

/* ORDERS START */

.orders {
  max-width: 240px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 26px;
}

.orders__table {
  height: 233px;
  background-color: #fff;
  border-radius: 6px;
}

.orders__table .table__content {
  width: 100%;
  height: 190px;
  overflow: scroll;
  padding-left: 8px;
  padding-right: 8px;
}

/* ORDERS END */

/* INPUT START */

.input {
  height: 18px;
  background-color: #fff;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 5px;
  padding-left: 5px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 12px;
}

.input::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #7e7d7d;
}

/* INPUT END */

/* BUY START */

.buy {
  max-width: 420px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.buy__form {
  margin-top: 7px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 8px;
  border: 1px solid #bebebf;
  box-sizing: border-box;
}

.buy__form-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #404040;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buy__block {
  max-width: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buy__block-balance {
  font-weight: 300;
  font-size: 15px;
  color: #515151;
  margin-bottom: 5px;
}

.buy__block-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.buy__block-label {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #515151;
}

.buy__block-input > .input {
  margin-left: 5px;
  max-width: 90px;
}

.buy__block-input > .buy__block-placeholder {
  position: absolute;
  right: -4px;
  font-size: 10px;
  color: #404040;
}

.buy__block-percents {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.buy__block-percents > .radio {
  width: 29px;
  max-width: 29px;
  min-width: 29px;
}

.buy__blocks {
  display: flex;
  justify-content: space-between;
}

.buy__divider {
  height: 120px;
  width: 1px;
  background-color: #bebebf;
}

/* BUY END */

/* RADIO START */

.radio > input {
  display: none;
}

.radio > label {
  background-color: #fff;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
  padding-left: 4px;
  padding-right: 4px;
}

.radio input:checked + label {
  background-color: #bebebf;
}

/* RADIO END */

/* FEED START */

.feed {
  width: 100%;
  max-width: 765px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  align-self: flex-start;
}

.feed__title {
  display: flex;
  border-bottom: 1px solid #bebebf;
  margin-bottom: 10px;
  align-items: center;
}

.feed__title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.feed__title-text {
  font-size: 24px;
}

.feed__articles {
  display: flex;
  justify-content: space-between;
}

.feed__article {
  max-width: 300px;
  width: 100%;
}

.feed__article-title {
  font-size: 18px;
  color: #515151;
}

.feed__article-text {
  margin-top: 8px;
  font-weight: 300;
  font-size: 12px;
  color: #515151;
}

.feed__article-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* FEED END */

/* LOGIN START */
.login {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
}

.login__form {
  max-width: 480px;
  width: 100%;
  background-color: #fff;
  padding: 24px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.login__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #404040;
  margin-bottom: 20px;
}

.login__button {
  height: 60px;
  background-color: #3b5999;
  border-radius: 6px;
  padding: 12px 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 26px;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 0;
}

.login__button > img {
  margin-right: 20px;
}

.login__button--blue {
  background-color: #03a9f3;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.login__reminder {
  margin-top: 12px;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #515151;
}

.login__reminder > a {
  color: #0645ad;
}

.login__divider {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__divider > span {
  position: relative;
  font-size: 22px;
  text-align: center;
  color: #515151;
  display: flex;
  align-items: flex-end;
}

.login__divider > span:after {
  content: "";
  position: absolute;
  left: -136px;
  width: 124px;
  height: 1px;
  background-color: #bebebf;
  transform: translateY(-5px);
}

.login__divider > span:before {
  content: "";
  position: absolute;
  right: -136px;
  width: 124px;
  height: 1px;
  background-color: #bebebf;
  transform: translateY(-5px);
}

.login__status-info {
  margin-top: 27px;
  font-size: 22px;
  text-align: center;
  color: #1bc47d;
}

.login__input {
  border: 0;
  border-bottom: 1px solid #bebebf;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.login__input::placeholder {
  font-size: 22px;
  line-height: 30px;
  color: #515151;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.login__input:focus::placeholder {
  opacity: 0;
}

.login__inputs {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.login__input:focus {
  border-bottom: 1px solid #515151;
}

.login__inputs > .login__input:not(:last-child) {
  margin-bottom: 30px;
}

.login__remember {
  margin-top: 24px;
  margin-bottom: 64px;
}

.login__links {
  margin-top: 26px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.login__links > a {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  color: #1bc47d;
}

.login__generate {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.login__generate-button {
  position: absolute;
  right: 0;
  font-weight: 300;
  font-size: 22px;
  color: #515151;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  bottom: 2px;
}

/* LOGIN END */

/* CHECKBOX START */

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox > input {
  display: none;
}

.checkbox > label {
  background-color: #fff;
  border: 1px solid #bebebf;
  border-radius: 4px;
  min-height: 26px;
  max-height: 26px;
  min-width: 26px;
  max-width: 26px;
  display: block;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
}

.checkbox > span {
  font-size: 18px;
  color: #404040;
  margin-left: 10px;
}

.checkbox > input:checked + label {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1bc47d;
  transition: background-color 0.15s ease-in-out;
  border-color: #1bc47d;
}

/* CHECKBOX END */

/* PROFILE START */

.profile {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.profile__inner {
  margin-top: 10px;
  width: 100%;
  max-width: 910px;
}

.profile__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #404040;
  margin-bottom: 32px;
}

.profile__row {
  display: flex;
  margin-bottom: 30px;
}

.profile__row-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__row-title {
  max-width: 320px;
  width: 100%;
  font-weight: 600;
  font-size: 26px;
  color: #404040;
}

.profile__avatar-container {
  display: flex;
  align-items: center;
}

.profile__avatar-container > label {
  margin-left: 50px;
}

.profile__avatar {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__input {
  height: 36px;
  background: #ffffff;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  color: #515151;
}

.profile__input:focus {
  border-color: #515151;
}

.profile__input--file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile__input--file + label {
  background: #ffffff;
  border: 1px solid #bebebf;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 36px;
}

.profile__input--file + label > img {
  margin-left: 5px;
}

.profile__field {
  display: flex;
  flex-direction: column;
}

.profile__field > label {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #404040;
}

.profile__row-info > .profile__field {
  margin-bottom: 18px;
}

.profile__field > span {
  margin-top: 5px;
  font-weight: 300;
  font-size: 18px;
  color: #515151;
}

.profile__input--referal {
  color: #1bc47d;
}

.profile__field-icon-container {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.profile__field-icon-container > input {
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.profile__field-icon {
  background-color: #c4c4c4;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--profile {
  align-self: flex-start;
}

/* PROFILE END */

/* B-MARKET START */

.b-market {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.b-market__inner {
  max-width: 1200px;
  width: 100%;
}

.b-market__title {
  font-weight: 600;
  font-size: 32px;
  color: #404040;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* B-MARKETS END */

/* CHART-TABLE START */

.chart-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #bebebf;
  box-sizing: border-box;
}

.chart-table th {
  font-weight: 600;
  font-size: 18px;
  color: #404040;
  background-color: #fdfdfd;
  border-bottom: 1px solid #bebebf;
  height: 38px;
}

.chart-table > thead th:not(:last-child) {
  border-right: 1px solid #bebebf;
}

.chart-table > tbody td {
  font-weight: 300;
  font-size: 20px;
  color: #515151;
  height: 48px;
  text-align: center;
}

.chart-table > tbody > tr:not(:last-child) > td {
  border-bottom: 1px solid #bebebf;
}

.chart-table > tbody td:not(:last-child) {
  border-right: 1px solid #bebebf;
}

.chart-table > tbody > tr:nth-child(even) > td {
  background-color: #fff;
}

.chart-table td.up {
  color: #1bc47d;
}

.chart-table td.down {
  color: #cc3939;
}

/* CHART-TABLE END */

/* PAGINATION START */

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.pagination__nav {
  display: flex;
}

.pagination__item {
  width: 30px;
  height: 30px;
  background-color: #fdfdfd;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-weight: 300;
  font-size: 22px;
  color: #515151;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.pagination__item:hover {
  background-color: #1bc47d;
  color: #fff;
}

.pagination__item:hover > img {
  filter: brightness(0) invert(1);
}

.pagination__item.active {
  background-color: #1bc47d;
  color: #fff;
}

.pagination__nav > .pagination__item:not(:last-child) {
  margin-right: 4px;
}

/* PAGINATION END */

/* COMPETITIONSTART */

.competition {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.competition__inner {
  max-width: 1200px;
  width: 100%;
}

.competition__title {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #404040;
}

.competition__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.competition__nav-title {
  font-weight: 600;
  font-size: 30px;
  color: #404040;
  margin-bottom: 10px;
}

.competition__tables {
  display: flex;
  justify-content: space-between;
}

.competition__table {
  max-width: 595px;
  width: 100%;
}

.competition__th-number {
  min-width: 30px;
}

/* COMPETITION END */
